<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c{1}:%L - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </root>

    <logger name="com.walmartlabs.components.scheduler.input.EventReceiver" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.walmart.gmp.feeds.FeedStatusAndCountsChecker" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <!--<logger name="com.walmart.gmp.ingestion.platform.framework.messaging.kafka.offsets.OffsetManager"
            additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>-->

    <!--<logger name="com.walmart.gmp.ingestion.platform.framework.messaging.kafka.partitions.PartitionRebalancer"
            additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.walmart.gmp.ingestion.platform.framework.messaging.kafka.processors.BatchProcessor"
            additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>-->

    <!--<logger name="com.walmartlabs.components.scheduler.core.ScheduleScanner" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>-->

    <!--<logger name="com.walmartlabs.components.scheduler.core.BucketManager" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>-->

    <!--<logger name="com.walmartlabs.components.scheduler.core.CheckpointHelper" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>-->

    <!--<logger name="com.walmartlabs.components.scheduler.tasks.BulkShardTask" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>-->

    <logger name="com.datastax.driver.core.Cluster" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.datastax.driver.core.policies" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="console"/>
    </logger>

</log4j:configuration>